/*
CSS Accueil
*/

.accueil {
    display: flex;
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 1em;
}

.titres {
    margin-top: 5em;
    text-align: left;
    margin-right: 5em;
}

span {
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    font-size: 35px;
    color: #fff;
}

h2 {
    font-size: 50px;
    margin-bottom: 0%;
    color:  rgb(45, 134, 212);
}

h3 {
    font-size: 40px;
    margin-top: 2px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
}

.photoProfile {
    max-width: 25%;
    clip-path: circle(30%);
    padding-right: 20px;
    padding-bottom: 50px;
    position: absolute;
    top:1.5em;
    right: 65px;
}

.info {
    font-family: 'Quicksand', sans-serif;
    margin-top: 22em;
    margin-left: 22em;
    border-top: solid 2px #fff;
}
