/*
CSS Projet1
*/

.projet1 {
    display: flex;
    font-family: 'Quicksand', sans-serif;
    margin-top: 2em;
}

.images {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2.5em;
}

img {
    max-width: 75%;
}

.menu {
    border: 1px solid #fff;
    margin-left: 5rem;
}
