/*
CSS Projet2
*/

.projet2 {
    display: flex;
    font-family: 'Quicksand', sans-serif;
    margin-top: 2em;
}

.images2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2.5em;
    margin-left: 3em;
}

img {
    max-width: 70%;
}

.biblioAccueil {
    border: 3px solid #000;
    margin-Left: 5em;
    filter: brightness(80%);
}

.login {
    border: 3px solid #000;
    max-width: 65%;
    filter: brightness(80%);
}