/*
CSS Biblio
*/

.biblio {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    margin-right: 10em;
}

.biblioTitre {
    padding-top: 10px;
    border-top: 10px outset rgb(50, 10, 161);
    border-top-right-radius: 25px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

p {
    font-size: 18px;
}