/*
CSS EducationSkills
*/

.cvIntro {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    align-items: flex-start;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    margin-top: 5em;
}

.introduction {
    display: flex;
    flex-direction: column;
    margin-left: 32em;
    margin-right: 21em;
    text-align: center;
}

.introduction p {
    font-size: 15px;
}

.welcome {
    margin-bottom: .5em;
}

.education {
    margin-top: 0%;
    font-size: 16px;
    line-height: 1.5;
    background-color: rgba(255, 255, 255, 0.16);
    padding: 10px 25px;
    display: inline-block;
    border-radius: 30px;
    margin-bottom: 1em;
}
 
.education :Hover {
    color: rgb(129, 196, 255);
    letter-spacing: 1px;
    transition: 0.2s;
}

.skills {
    font-size: 16px;
    line-height: 1.5;
    background-color: rgba(255, 255, 255, 0.16);
    padding: 10px 28px;
    display: inline-block;
    border-radius: 30px;
}

.skills :Hover {
    color: rgb(129, 196, 255);
    letter-spacing: 1px;
    transition: 0.2s;
}

.elements {
    font-size: 12px;
}


