/*
CSS Header
*/

.header {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    border-bottom: .1rem solid rgba(255, 255, 255, 0.427);
}

h1 {
    margin-top: .8em;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    margin-right: 20em;
}