/*
CSS MenuNav
*/

.list {
    display: flex;
    border-bottom: 2px;
}

li {
    margin-top: .4em;
    Margin-left: 3em;
    text-decoration: none;
    list-style: none;
}

button {
    border: none;
    background-color: transparent;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 15px;
}

button:hover {
    border-bottom: .15rem solid rgb(69, 131, 239);
    padding-bottom: .25rem;
    font-size: 17px;
    transition: .1s;
}