/*
CSS Restaurant
*/

.restaurant {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    margin-left: 6em;
    margin-right: 4em;
}

.menuTitre {
    padding-top: 10px;
    border-top: 10px outset rgb(50, 10, 161);
    border-top-left-radius: 25px;
    text-align: end;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

p {
    font-size: 18px;
}
